body{
	margin: 0px;
	font-family: arial;
}
.filling{
    margin: 70px;
}
nav{
	position: fixed;
	
	top: -16px;
	left: 0;
	right: 0;
}
.menu {
	background: red;
	border-radius: 5px;
}
.menu li a{
	text-decoration: none;
	color:white;
}
.menu li{
	display: inline-block;
	border-radius: 5px;
	padding: 20px;
	transition: 0.5s;
	width: 15%;
	text-align: center;
}
.menu li:hover{
	background: #79259e;
	font-size: 20px;
	padding: 0px;
}
.text-box img{
	border: solid black 1px;
	border-radius: 20px;
}

.main{
	background: #17a5a9;
	width: 60%;
	margin: auto;
	padding: 5px;
}
.text-box{
	border-bottom: solid black 2px;
	padding: 5px;
}
.right-pic{
	float: right;
}

.left-pic{
	float: left;
}

.clearfix{
  clear: both;
}
footer{
	background: red;
	color: white;
}
footer img{
	border-radius: 100%;
	margin: 10px;
	transition: 1s;
}
footer img:hover{
	border-radius: 100%;
	width: 65px;
	height: 65px;
	margin: 10px -15px;
}

