header{
	background: black;
	color: white;
	height: 100px;
}

#logo img{
	float: left;
	width: 200px;
	margin-right: 30px;
}

.menu-nav ul{
	display: inline-block;
	list-style-type: none;
}

.menu-nav ul li{
	float: left;
	width: 150px;
}

img{
	height: 188px;
	width: 250px;
}
section{
	width: 250px;
	overflow: hidden;
}

section ul{
	display: table;
	animation: 20s normal infinite slide;
	width: calc(250px * 5);

}
section ul li{
	display: table-cell;
}

@keyframes slide{
	0% 20%{ transform: translateX(0px); }
	20%{ transform: translateX(-250px); }
	40%{ transform: translateX(-500px); }
	60%{ transform: translateX(-750px); }
	80%{ transform: translateX(-1000px); }
	100%{ transform: translateX(0px); }
}