body{
	padding: 10px;
}

nav{
	display: inline-block;
	table-layout: table;
	background: red;
	width: 900px;
	height: 40px;
	display: table;
	border-radius: 10px;
	margin: bottom 20px;
}
.case_menu{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	font-weight: bold; 
	transition: 2s;
}
.case_menu:hover{
	background: yellow;
	font-size: 30px;
	height: 50px;
}

#menu1:hover{background: orange; }

div{
	background: #00FF97;
	margin: auto;
}

article{
	margin: 10px;
	display: inline-block;
	border: solid;
	border-radius: 10px;
}

.lorem{
	vertical-align:  top;
	background: red;
	/*float: right;*/ /*libère  du flux html pour fixer d'un coté*/
	overflow: hidden; /*cache ce qui depasse sur les autre elements*/
}

.clearfix{
	clear: both;
	clear: right;
	clear: left;
}

#metroid1, #triforce{
	width: 100px;
	float: left;
}

#equipage_one_piece, #logo_one_piece{
	float: right !important;
	width: 200px;
	height: 100px;
}

img{
	padding: 10px;
	min-height: 100px;
}