header{
	background: black;
	color: white;
}
nav{
	display: flex;
	justify-content: space-between;
}
nav ul{
	display: flex;
	list-style-type: none;
}
nav ul li{
	margin: 10px;
}
nav ul li a{
	text-decoration: none;
	padding: 15px;
	border-radius: 5px;
	color: white;
}
nav ul li a:hover{
	background: green;
}
.flexbox{
	display: inline-flex;
}
.flexbox div{
	border: 1px solid black;
	margin: 10px;
	width: auto;
}
.flexbox img{
	width: 100%;
}
.flexbox div p,h3{
	padding: 15px;
}
.flexbox .button{
	border-radius: 3px;
	text-align: center;
	padding: 10px;
	background: gray;
	color: white;
}

