header {
  background: #d661c6;
  color: white;
  height: 75px;
}

nav {
  background: #ecf5a6;
  color: black;
  height: 30px;
}

footer {
  background: #426dbd;
  color: white;
  height: 75px;
}

#section_inner {
  background: #8c48ab;
  color: white;
  height: 90%;
}

body{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

section {
  background-color:#589c77;
  padding: 15px;
  height: 400px;
}
