.conteneur{
	width: 70%;
	background: blue;
	margin:auto;
	padding: 10px;
	color: white;
}

#polices{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 30px;
	font-style: italic;
}

#gras{font-weight: bold;}
#italique{font-style: italic;}
#barré{text-decoration: line-through; }
#petit{font-size: smaller;}
#indice{font-variant-position: sub; font-size: smaller; position: sticky;}
#exposant{font-variant-position: super; font-size: smaller;}
#citation{quotes: "";}

meter{width: 100px;}

.unites_relatives{font-size: 5em} /*1em = 16px*/
.unite_em{font-size: 50%}
.unites_rem{font-size: 1rem} /*relative par rapport à la racine (la balise html)*/