.conteneur{
	width: 70%;
	background: blue;
	margin:auto;
	padding: 10px;
	color: white;
}

#positions{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 30px;
	font-style: italic;
}

.static{position: static;}
.fixed{
	position: fixed; /*ne bougera jamais*/
	left: 0;
	color: black;
}
.relative{
	position: relative; /* ne sert à rien seule, sans absolue*/
	top: 0;
	right: 0;
	background: yellow;
}
.absolue{
	position: absolute; /*en fonction de la 1ere relative qu'il trouve en remontant*/
	background: grey;
}
.sticky{
	position: sticky; /*Fixed tant qu'on sort pas du parent*/
	background: red;
}



.align{
	display: flex;/*equivalent à inline-block*/ /*s'adapte à l'image*/

} 
.page_entiere{
	display: inline-flex; /*pour pouvoir changer la hauteur*/
}
#serie2{background: skyblue;}
