header{
	background-color: red;
}
nav, ul{
	display: flex;
	justify-content: space-around;
}
nav ul{
	list-style-type: none;
}
nav ul li a:hover{
	background: orange;
	padding: 20px;
	border-radius: 5px;
}
a{
	text-decoration: none;
	color: white;
}
nav ul li{
	margin: 10px 30px;
}
img{
	width: 100px;
	height: 100px;
	float: left;
	margin-top: -15px;
}