.flexbox {
  display: flex;
  justify-content: center;
  clear: both;
}

.flexbox .item{
  box-shadow: 3px 3px 13px -4px rgba(0,0,0,0.75);
  margin: 20px;
  background-color: beige;
}

.flexbox > .item:nth-child(1){
  width: 400px;
  height: 500px;
}

.flexbox > .item:nth-child(2), .item:nth-child(3){
  width: 200px;
  height: 500px;
}

.flexbox .text
 {
    margin: 15px 0px 25px 15px;
}

.flexbox b{
  font-size: 21px;
  font-family: sans-serif;
}

.flexbox .item:nth-child(1) img{
  width:100%;
  height: 300px;
}

.flexbox .item:nth-child(2) img, .item:nth-child(3) img{
  width: 100%;
  height: 180px;
}

.item2-button, .item3-button{
  max-width: 80%;
  background-color: grey;
  max-height: 8%;
  margin: 0 auto;
}

.item1-button {
  max-width: 80%;
  background-color: grey;
  max-height: 8%;
  margin: 0 auto;
}

.flexbox a{
  text-decoration: none;
}

.item1-button a p, .item2-button a p, .item3-button a p{
  color: white;
  text-align: center;
  padding: 10px;
}
