body{}

/*.flexbox{
	background: red;

	display: flex;
	/*justify-content: space-between; /*prend le maximum de place en espacant les elemenrs*/
	/*justify-content: space-around; /*met de l'espace autour*/
	/*justify-content: flex-end; /*pour coller à droite*/
	/*flex-direction: row; /*ligne*/ /*row-reverse = ligne en japonais*/
	/*flex-direction: column; /*aligne en colonne*//*column-reverse aussi*/
/*}
.flexbox div{
	border: 2px solid;
	width: 100px;
}
.flexbox div:nth-child(2){ /*pseudo-elements n-ieme element uniquement sans id*/
/*	border: 10px solid;
	width: 100px;
}
*/

.voyage{
	display: inline-flex;
	justify-content: center;
	margin: 5px;
	padding: 5px;

}
.destination{
	display: flex;
	/*justify-content: space-between; sert à prendre toute la hauteur dans la case*/ 
	flex-direction: column;
	border: solid 2px;
	height: 1000px;
	margin: 10px;
}
.voyage img{
	max-width: 100%;
	margin: 1px;
}
.description{
	margin: 20px;
}
h3{text-align: center;}
.destination a{
	padding: 10px;
	text-decoration: none;
	background: grey;
	font-size: 20px;
	text-align: center;
	margin: 20px;
}
#id1 {width: 40%;}
#id2 {width: 20%;}
#id3{width: 20%;}