header{
	background: black;
	color: white;
	height: 60px;
}

#logo img{
  margin-top: 10px;
  margin-left: 10px;
	float: left;
	width: 80px;
	margin-right: 30px;
}

.menu-nav ul{
  position: relative;
	display: inline-block;
	list-style-type: none;
}

.menu-nav ul li{
	float: left;
	width: 150px;
}

.menu-nav ul li a{
	text-decoration: none;
  color: white;
}

section{
  float: left;
  display:inline;
}

.item{
	padding: 10px;
	border:1px solid;
  max-height: 500px;
  float:left;
  width: 28vw;
  margin: 10px 5px 5px 50px;
}

.item .photo-marque img{
width: 400px;
height: 250px;
margin-left: auto;
margin-right: auto;
display: block;
}


.photo-marque{
	position: relative;
}

.marque{
	position: relative;
	text-align: center;
  padding: 10px;
}

.details{
	color: white;
  position: relative;
  bottom: 0;
}

.details .kilo{
	float: left;
	padding: 10px;
	background-color: grey;
}

.details .prix{
	float: right;
	background-color: grey;
	padding: 10px;
}

.access {
  float: right;
}

@media ((min-width: 360px) and (max-width: 767px)){

  body {
    background-color: beige;
  }

 #logo img {
   width: 70px;
 }

 .menu-nav ul{
  position: relative;
 	display: flex;
 	list-style-type: none;
  padding-top: 15px;
  padding-left: 0px;
 }

 .menu-nav ul li{
 	float: left;
 }

 .menu-nav ul li a{
 	text-decoration: none;
  color: white;
  font-size: 1.1em;
 }

.menu-nav .access{
  display: none;
}

.item .photo-marque img{
width: 200px;
height: 80px;
}

section {
  display: inline-block;
}

section .item{
    height:auto;
    max-height:150%;
    overflow:auto;

    float:left;
    width: 85vw;
    margin: 10px 15px auto;
    background-color: white;
}
}

@media ((min-width: 768px) and (max-width: 1024px)){

  .menu-nav .access{
    display: none;
  }

section {
  float: left;
  display:inline;

}

.details {
  margin-top: 10px;
  padding-bottom: 10px;
}

p{
  margin-bottom: 10px;
}

section .item {
  float:left;
  width: 40vw;
  margin: 10px 5px 5px 30px;
}

.item .photo-marque img{
width: 200px;
height: 90px;
}W

}

@media screen and ((min-width: 1025px) and (max-width: 1543px)){

  .item .photo-marque img{
  width: 280px;
  height: 140px;
  }

  section .item {
    float:left;
    width: 40vw;
    margin: 10px 5px 5px 50px;
  }

}

@media screen and (min-width: 1544px){

  section .item {
    float:left;
    width: 27vw;
    margin: 10px 5px 5px 50px;
  }

}
