body{
	margin: 0;
	font-family: arial;
}
nav{
	background: yellow;	
	padding-top: 30px;
}
nav div {
	display: inline-block;
}
.right{
	float: right
}
.center{
	margin: 0 0 0 30%;
}
.left{
	float: left;
}
.clearfix {
  overflow: auto;
}
nav ul{
	margin: 0;
}
nav ul li{
	text-align: center;
	display: inline-block;
	padding: 10px;
}
nav ul li:hover{
	background: red;
}
nav ul li a{
	text-decoration: none;
	color: black;
	padding: 10px;
}
form div{
	width: 300px;
	margin: 15px;
	border
}

input{
	border-radius: 5px;
	padding-bottom: 10px;
	float: right;
	width: 50%;
}
textarea{
	border-radius: 5px;
}
.ligne ul{
	text-align: center;
	background: orange;
	padding: 0;
}
.ligne ul li{
	display: inline-block;
	background: green;
	width: 32%;
	border: solid black 1px;
}
.ligne .right{
	background: purple;
	color: white;	
	padding: 10px;
	border-radius: 10px;
	margin: 5px;
}
.ligne .left{
	background: purple;
	color: white;	
	padding: 10px;
	border-radius: 10px;
	margin: 5px;
}
.main{
	background: red;
	width: 80%;
	margin: 0 auto;
}
footer{
	background: yellow;
}
footer img{
	border-radius: 100%;
}