header {
  margin-bottom: 10px;
  font-family: fantasy;
  font-size: 20px;
}

nav {
  border: 5px solid #98c3b9;
  border-radius: 5px;
  background-color: #98c3b9;
  margin: 0 auto;
  display: table;
}

nav ul li {
  display: inline-block;
  width: 8em;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

nav ul li:hover {
  background-color:  #d7e1df;
}

.parent {
  margin: 1em auto;
  width: 60em;
  background-color: beige;
}

.img-with-text {
  display: inline-block;
}

img {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
}

.left {
  margin-right: 1em;
  float: left;
}

.right {
  margin-left: 1em;
  float: right;
}
