body {
  margin-top: 80px;
}

header {
  margin-bottom: 10px;
  font-family: fantasy;
  font-size: 20px;
}

nav {
  background-color: #c4e0c4;
  border: 1px solid grey;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  width: 13em;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

nav ul li:hover {
  background-color:  #d7e1df;
}

.parent {
  margin: 1em auto;
  width: 60em;
  background-color: beige;
}

.img-with-text {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}

p {
  margin: 1em 1em 1em 1em;
  font-size: 16px;
  line-height: 23px;
  text-align: justify;
}

img {
  width: 160px;
  height: 160px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1em 1em 1em 1em;
}

.left {
  float: left;
}

.right {
  float: right;
}

footer {
  background: #c4e0c4;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
}

footer .contact1 img {
  width: 140px;
  height: 140px;
}
.footer-text {
  clear: both;
  margin: 0 auto;
  margin-bottom: 1em;
}

.logo{
  height: 35px;
  width: 35px;
  margin: 0 auto;
}
