.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card {
    margin: 1rem;
    border: .5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.card1 {
    flex-shrink: 1;
}

.card2, .card3 {
    flex-shrink: 3;
    height: 88%;
}

.card__text  {
    padding: 1rem;
}

.btn-default {
    text-align: center;
    background-color: darkgoldenrod;
    padding: 1rem 1.5rem;
    border: none;
    width: 100%;
}