nav{
	background: red;
	position: fixed;
	top:0;
	right: 0;
	left: 0;
}
.menu{
	display: inline-block;
	padding: 42px;
}
.ident{
	float: right;
}
.ident ul li{
	display: inline;
	padding-right: 5px;
}

a{
	text-decoration: none;
	color: white;
}
.menu:hover{
	background: orange;
	padding: 20px;
	border-radius: 5px;
}

.espace{
	padding-top: 70px;
}
#roue{
	float: left;
	width: 100px;
	height: 100px;

}
img{
	width: 250px;
	height: 200px;
}

.article{
	width: 250px;
	border:solid 2px;
	border-color: red
}
.article:hover{
	cursor: pointer;
	transform: scale(1.2);
	transition-duration: 2s;
}
.article{
	display:inline-block;
	background: white;
}
 p{
 	text-align: center;
 	margin-right: 5px; 	
 }
.model{
	float: left;
}
.lemodel{
    float: right;
    padding-left: 38px;
    padding-right: 20px;
}
.prix{
	display: inline-block;
	border:solid 1px;
	border-color: red;
	margin-left: 20px;
	background: orange
}
.kilometre{
	display: inline-block;
	border:solid 1px;
	border-color: red;
	margin-right: 20px;
	margin-left: 80px;
	background: orange
}
.mention{
	width: 64px;
	height:64px;
}
.footer{
	background: ;

}
.sujet{
	color: white;
	height: 150px;
	width:150px;
}

.titre{
	color: white;
	text-align: center;
	display: inline-block;
}
.enbas {
	text-align: center;
}
.folow{
	text-align: center;
}
section{
	background: red;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 640px){

.article {
    display: block;
    width: 600px;
	border:solid 2px;
	border-color: red;
	font-size: 40px;
	margin-top: 80px;
}

img{
	width: 600px;
	height: 500px;
}
.menu{
	font-size: 39px;
}
.enbas{
	visibility: hidden;
	color: black;
	height: 100px;
	display: flex;
	justify-content: center;
	padding-top: 14px;
}
.enbas img{
	visibility: visible;
}
.enbas:hover{
	visibility: visible;
	height: auto;
}
.ident li{
	visibility: hidden;
}
.ident:hover li{
	visibility: visible;
	background: red;
	display: block;
}
.ident::after{
	content: "contact";
}
.ident ul li{
	display: inline-block;
	padding-right: 5px;
	font-size: 30px;
}
.info p{
	clear: both;
}
}