nav{
	background-color: #DF2EBB;

	/*position: static;*/

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	z-index: 1;
}

/* position static */
/* position fixed */
/* position relative --- top, left, right , bottom*/
/* position absolue s'adapte en fonction de la position relative */
/* position sticky: un mélange entre la position fixed et relative */


nav ul li{
	display: inline-block;
	padding: 10px;
	width: 10em;
	text-align: center;
}

nav ul li a{
	text-decoration: none;
	color: white;
}

nav ul li:hover{
	background: #AE509A;
}

/* Les floats */

.contenuer{
	background: #53E7E8;
	width: 60%;
	margin: auto;
}

.images{
	border-bottom: 1px solid;
    min-height: 170px;
}

.contenuer p {
	padding: 15px;
}

.contenuer img{
	float: left;
	border-radius: 20px;
	margin:10px;
}

.clearfix{
	clear: both;
}

.moussa {
	float: right !important;
}


footer{
	color: white;
	background-color: red;
}

.sociaux{
	text-align: center;
}

.sociaux img{
	width: 50px;
	height: 50px;

	border-radius: 50%;
	background: white;

	margin: 10px;
}

.sociaux img:hover{
	background: orange;
}