.block p, .block div, .block h1{
	display: inline;
	background-color: red;
}

.inline a {
	display: block;
	background: green;
}


.inline-block span,.inline-block em,
.inline-block a{
	display: inline-block;
	background-color: red;
	width: 100px;
	height: 150px;
}

.paragh{
	display: table;
}
.paragh span {
	display: table-cell;
	vertical-align: middle;
}